*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
}
body{
    background-color:  hsl(185, 75%, 39%);
    background-image: url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg);
    background-repeat: no-repeat;
    background-position: right 50vw bottom 50vh, left 50vw top 50vh;
}
main{
    background-color: #fff;
    max-width: 30vw;
    max-height: 60vh;
    margin: 150px auto;
    border-radius: 20px;
}
.top{
    background-image: url(./images/bg-pattern-card.svg);
    max-width: 30vw;
    max-height: 20vh;
    border-radius: 20px 20px 0 0;
}
.body{
    border-radius: 50%;
    text-align: center;
    padding-top: 100px;
}
 img{
    border: 5px solid white;
    border-radius: 50%;
    overflow: hidden;
  
 }
 .content{
     text-align: center;
     margin-top: 80px;
 }
 .content h2{
    color: hsl(229, 23%, 23%);
 }
 .content h2 span,p{
     font-weight: 50;
     color:hsl(227, 10%, 46%);

 }
 hr{
    margin: 30px 0 0 0;
}
 .stats{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     padding: 30px 30px 30px 20px;
     text-align: center;
 }
 .stats h2{
     color: hsl(229, 23%, 23%);
 }
 .attribution{
     text-align: center;
     text-decoration-color: tomato;
 }


 /* Design for mobile view */
 @media screen and (min-width:375px) and (max-width:600px){
     body{
         max-height: 100vh;
         max-width: 100%;
     }
    main{
         max-width: 100%;
         margin:100px 50px 0 30px ;
         min-height: 60vh;
     }
     .top{
         max-width: 100%;
         min-height: 20vh;
     }
    .content{
        padding-top: 15px;
    }
     hr{
        margin-top: 40px;
     }
    .attribution{
        padding-top: 20px;
    }
    
     
 }
   